img {
    display: inline-block;
    margin: 0 auto;
    justify-content: center;
}

.principal {
    display: block;    
    background-color: azure;
    border: 1px solid;
}

.quadro {
    max-width: 90%;
    text-align: justify;
    margin-left: 20px;
}

.setup {
    display: inline-flex;
    justify-content: center;
    align-content: center;
}

.life {
    background-color: rgb(199, 211, 234);
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
}